# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
*.idea
.ipynb_checkpoints


# torch.utils.tensorboard产生的数据文件
*._tb

# 大型数据集(储存位置:百度网盘)
## datasets
### cats_vs_dogs
### Numpy
### PyTorch
Other/datasets