# Created by .ignore support plugin (hsz.mobi)
# cd5e017a4a7d55d2112b6a29f6b7941494056d05
### Example user template template
### Example user template
# IntelliJ project files
*.idea

.ipynb_checkpoints

# .pyc文件是.py文件编译后生成的字节码文件(byte code),类似Java的.class文件
*.pyc

# torch.utils.tensorboard产生的数据文件
*._tb

# 预训练词向量文件
*.vector_cache

# 网络下载的仅用于该小项目的文件
*.data

# 忽略的词向量文件
cnew*
/I_Model/核心深度学习模型/word2vec_glove/glove.6B.50d.txt


# *******************************************************************************************
# 大型数据集(储存位置:百度网盘)
## datasets
### cats_vs_dogs
### cnews
### hotdog
### NumPy
### PyTorch
Other/datasets

